body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

h1{
    font-size: 100px;
    text-align: center;
}

button{
    height: 50px;
    width: 200px;
    border-radius: 50px;
    background-color: black;
    color: white;
    font-size: 17px;
    cursor: pointer;
    border: solid 2px white;
}

.mainContainer{
    display: flex;
    justify-content: center;
    gap: 200px;
}

.control-tab{
    background-color: gray;
    width: 300px;
    border-radius: 25px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    width: 960px;        /* total drawing area */
    height: 960px;
    border: 5px solid black;
}

.baseGrid{
    box-sizing: border-box;
    background-color: white;
    border: solid 1px black;
}

/* For the Color Picker and Button*/
button,
input[type='color'] {
  transition: transform 0.1s ease-in-out;
}

button:hover,
input[type='color']:hover {
  transform: scale(1.05);
}

input[type='color']:active {
  transition: transform 0.05s ease-in-out;
  transform: scale(1);
}

input[type='color'] {
  appearance: none;
  width: 100px;
  height: 100px;
  padding: 10px;
  border: none;
  background-color: transparent;
}

input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type='color']::-webkit-color-swatch {
  border: none;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
input[type='color'] {
  transition: transform 0.1s ease-in-out;
}

button:hover,
input[type='color']:hover {
  transform: scale(1.05);
}

input[type='color']:active {
  transition: transform 0.05s ease-in-out;
  transform: scale(1);
}

input[type='color'] {
  appearance: none;
  width: 100px;
  height: 100px;
  padding: 10px;
  border: none;
  background-color: transparent;
}

input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type='color']::-webkit-color-swatch {
  border: none;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}