.container{
    display: flex;
    flex-wrap: wrap;
    width: 960px;        /* total drawing area */
    height: 960px;
    border: 5px solid black;
}

.baseGrid{
    box-sizing: border-box;
    background-color: white;
    border: solid 1px black;
}
